<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing_loading_screen"
        tools:targetApi="31">
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".TaskActivity"
            android:exported="false" />
        <activity
            android:name=".AmbienceActivity"
            android:exported="false" />
        <activity
            android:name=".CharacterActivity"
            android:exported="false" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"/>

        <activity
            android:name=".OptionModeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".TitleScreenActivity"
            android:exported="true">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>